<app-header></app-header>
<div class="container">
  <app-btn-atras></app-btn-atras>
  <div class="row">
    <p>Querida Yuko:</p>
  </div>
  <div class="row">
    <p>Ya andas un año más cerca de la tercera edad. Espero estar a tu lado durante mucho, muchísimo tiempo, para poder seguir viendo cómo eres calva, luego no y luego sí otra vez. Que no se te olvide ejercitar las pantorrillas y beber zumos de vinagre para mantenerte joven.</p>
  </div>
  <div class="row">
    <p>Atentamente y con amor, mi nueva personalidad</p>
  </div>
  <div class="row">
    <p>bb KATRIckz</p>
  </div>
  <div class="row">
    <img src="../../assets/fotos/Lakatri/katri1.jpeg" class="fotoFelicitacionGrande">

  </div>
</div>
<app-footer></app-footer>
