<app-header></app-header>

<div class="container">
  <app-btn-atras></app-btn-atras>
  <div class="row">
    <img src="../../assets/fotos/Elfres/fres2.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres3.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres4.jpeg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elfres/fres5.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres6.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres7.jpeg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elfres/fres8.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres9.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres10.jpeg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elfres/fres11.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres12.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres13.jpeg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elfres/fres14.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres15.jpeg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elfres/fres16.jpeg" class="fotoFelicitacion">
  </div>
</div>

<app-footer></app-footer>
