<app-header></app-header>
<div class="container">
  <app-btn-atras></app-btn-atras>

  <div class="row">
    <p>Hola nena!</p>
  </div>
  <div class="row">
    <p>Lo primero que muchas muchas felicidades y que cumplas muchos más.
      Eres una tía maravillosa y me parece súper guay volver a vernos después de nosecuanto tiempo y echarnos unas cerves como si no hubiesen pasado los años.
      Y bueno,como soy una nostálgica y nunca borro absolutamente nada te pongo por aquí unas foticos del instituto de cuando éramos unas jóvenes.
      Sé muy feliz y mucha suerte por Madrid aunque sé que te va ir genial por allí
      Muchos muchos besos wapetona.</p>
  </div>

  <div class="row">
    <img src="../../assets/fotos/Lacelia/celia1.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Lacelia/celia2.jpg" class="fotoFelicitacion">

  </div>
  <div class="row">
    <img src="../../assets/fotos/Lacelia/celia3.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Lacelia/celia4.jpg" class="fotoFelicitacion">

  </div>

<app-footer></app-footer>

