<app-header></app-header>
<div class="container">
  <app-btn-atras></app-btn-atras>
  <div class="row">
    <p>Hola yuko, fui tu novio y ahora soy tu ex pero también puedo decir que soy tu buen amigo, te deseo lo mejor ya que a partir de ahora pasas a ser una chica que baila, estoy muy contento de poder felicitarte así, ya que me parece muy bonito y Gómez es un bonico porque hacerte esto telita la virgen.
      En fin que eres una bonica y sabes cómo hacértelo por eso tampoco te digo mucho más por qué ya tú sabes, que si que si.
      Espero verte crecer al igual q tu ami ( momento intenso) tequiero, feliz cumpleaños Ángela.</p>
  </div>
  <div class="row">
    <p>Un saludo cordial.</p>
  </div>
  <div class="row">
    <p>Con cariño, Manuel.</p>
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elmanu/manu1.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elmanu/manu2.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elmanu/manu3.jpg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elmanu/manu4.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elmanu/manu5.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elmanu/manu6.jpg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <img src="../../assets/fotos/Elmanu/manu7.jpg" class="fotoFelicitacion">
    <img src="../../assets/fotos/Elmanu/manu8.jpg" class="fotoFelicitacion">
  </div>
  <div class="row">
    <video width="1024" height="800" controls>
      <source src="../../assets/videos/manu9.mp4" type="video/mp4">
      El video parece que no va
    </video>
  </div>
</div>
<app-footer></app-footer>
