<app-header></app-header>
<div class="container">
  <app-btn-atras></app-btn-atras>
  <div class="row">
    <h2>POEMA</h2>
  </div>
  <div class="row">
    <p>Yuko, amiga querida, rubia de salón,
      ¿dónde te cortas el pelo? ¡Es toda una confusión!
      En cada esquina preguntan con envidia y desdén,
      "Rubia, ¿dónde te cortas el pelo?" ¡qué interés ven!</p>
  </div>
  <div class="row">
    <p>Tu melena dorada, un enigma de moda,
      ¿será que en el Olimpo te haces la melena toda?
      O tal vez en un laboratorio de experimentos locos,
      donde crean cabellos divinos y exóticos.</p>
  </div>
  <div class="row">
    <p>Yuko, amiga audaz, radiante como una diva,
      tu pelo es un misterio, una historia alternativa.
      No importa dónde lo cortes, siempre es un debate,
      pues tu estilo desafía las leyes del buen gusto, ¡qué disparate!</p>
  </div>
</div>
<app-footer></app-footer>
