<app-header></app-header>
  <div class="container">
    <div class="row">
      <img class="btnAtras" src="../../assets/icons/arrow-left-long-solid.svg" (click)="volver()">
    </div>

  </div>
  <!--JAVILIN-->
  <div class="container" *ngIf="idFel=='1'">
    <div class="row">
      <h1>HOLA</h1>
    </div>
    <div class="row">
      <h2>Primero que todo: te love u la vida</h2>
    </div>
    <div class="row">
      <p>Que habia pensado que igual hacer una web para felicitarte era un poco chulo, asi que he tratado de hacerlo lo más cutre posible. En cualquier caso espero que te guste</p>
    </div>
    <div class="row">
      <p>Y bueno por mi parte, se que los ultimos meses no me he portado de la mejor manera posible y no te lo mereces en absoluto. También se que nuestra relación ha cambiado mucho con el tiempo y no es necesariamente negativo. Y también sé que las palabras te valen de poco y que lo importante es demostrarlo. Pero quiero aprovechar y afirmarte que conmigo puedes contar y en la medida de lo posible siempre voy a estar para ti</p>
    </div>
    <div class="row">
      <p>También quiero agradecerte todo lo que has hecho por mi a lo largo de los tropocientos mil años que somos amigos, todos los buenos momentos que hemos pasado juntos y todo lo que he aprendido gracias a ti</p>
    </div>
    <div class="row">
      <p>Por último quiero desearte mucha suerte en esta nueva etapa que vas a comenzar en madrid con sus madrileños (losiento), estoy seguro que te va a ir genial a pesar de las mil milliones de cosas que vas hacer, pero seguro que te supone una experiencia positiva. Y también te prometo que voy a ir a verte &lt;3 </p>
    </div>
    <div class="row">
      <p>A continuación te adjunto fotos de goblin que me he encontrao:</p>
    </div>
    <div class="row">
      <img src="../../assets/fotos/Javilin/gnomo futbolin 2.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/goblin de obra.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/goblin_comiendo.jpg" class="fotoFelicitacion">
    </div>
    <div class="row">
      <img src="../../assets/fotos/Javilin/goblin_de_mesa.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/goblin_feria.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/goblin_ninios.jpg" class="fotoFelicitacion">
    </div>
    <div class="row">
      <img src="../../assets/fotos/Javilin/goblin_riopar.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/goblin_y_yo.jpg" class="fotoFelicitacion">
      <img src="../../assets/fotos/Javilin/gnomo futbolin.jpg" class="fotoFelicitacion">
    </div>
  </div>
  <!--LA SINDY-->
  <div class="container" *ngIf="idFel=='2'">
    <div class="row">
      <video width="1024" height="800" controls>
        <source src="../../assets/videos/La_sindy.mp4" type="video/mp4">
        El video parece que no va
      </video>
    </div>
  </div>
  <div class="container" *ngIf="idFel=='3'">
    otro
  </div>
<app-footer></app-footer>
